@charset "UTF-8";

/* 基本色 */
:root{
        --main-color: #5D9AD2;
        --accent-color: #DF6A7A;
        --dark-color: #2B5566;

        /* テキストを白色にする 53P */
        --text-bright-color:#fff;

        /* 横幅の最大値を指定する 80P */
        --large-width: 1700px;

    }

/* 基本設定:: ページ全体 */
body {
    
        /* 画像を画面の横幅いっぱいに表示 50P */
        margin: 0;

    font-family: "メイリオ",
        "Hiragino Kaku Gothic Pro",
        sans-serif;

    }

/* ヘッダーをヒーローイメージに重ねる 152P */
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}

/* サイト名のデザインを指定する 151P */
.headA{
    display: inline-block;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #5D9AB2;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    text-decoration: none;
}

/* メニューの標準のデザインを解除する 158P */
/* リンクを大きくする 159P */
.headB ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.headB a{
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}

.headB a:hover{
    background-color: rgba(0,0,0,0.1);
}

/* ナビゲーションメニューのリンクを横に並べる 161P */
@media (min-width: 768px){
    header .container{
        display: flex;
        align-items:center;
        justify-content: space-between;
        /* コンテンツBと横幅を揃える 93P */
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;

    }
    .headB ul{
        display: flex;
    }
}


/* コンテンツA: ヒーローイメージ */
.conA {
        /* 背景画像として画像を表示する 49P */
        /* 半透明な黒色の画像を重ねてトーンを落とす 54P */
        background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(img/classA.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;   

        /* 画像を画面の高さいっぱいに表示する 50P */
        height: 100vh;

        /* 最小限確保する高さを指定する 51P */
        min-height: 450px;

        /* テキストを画像の中央配置にする 52P */
        display: flex;
        align-items: center;
        justify-content: center;

        /* テキストを白色をする 53P */
        color:#fff;
        color:var(--text-bright-color);

    text-align: center;
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "ロボト",sans-serif;
    font-size: 15vw;
    letter-spacing: 0.2em;
    margin-left: 0.2em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18%;
}

@media (min-width: 768px){
    .conA h1{
        font-size: 95px;
    }

    .conA p{
        font-size: 40px;
    }
} 


/* コンテンツC:概要(アイコン+テキスト) */

/* ブロックに色を付ける 88P */
.conB{
    background: linear-gradient(to right, #bcd8e9be 0%, #bcd8e9be 50%, #ffffff 50%, #ffffff 100%);
}

.conB .container{
    padding-top: 5px;
}

/* テキストのまわりに余白を入れる 92P */
    .conB .text{
    padding: 60px;
}

/* PROFILEに下線入れる */
.underline_double{
    text-decoration: underline #000000;
    text-underline-offset: 0.5ex;
}

.conB h2{
    /* 見出しと文章のデザインを指定する 68P */
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
}


.conB p{
        /* 見出しと文章のデザインを指定する 68P */
        margin-top: 100px;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: 1.8;
        opacity: 0.8;
}

@media (min-width:768px){
    .conB{
    /* <!-- 画像を横に並べる --> */
    .container{
    display: flex;
    max-height: 1000px;
    max-width: 1100px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60vh;
}
    

    .imgOYA{
        width: 500px;
    }

    .container img{
    width: 500px;
    height: auto;
    justify-content: space-around;
    border: solid 5px  #DF6A7A;
    border-radius: 10px;
    }

    .text {
    padding-left: 450px;
    }

}
}


/* コンテンツD:概要(アイコン+テキスト:逆配置) */
.conC{
    /* ブロックに色を付ける 88P */
    background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #bcd8e9be 50%, #bcd8e9be 100%);
}

/* テキストのまわりに余白を入れる 92P */
.conC .text{
    padding: 60px;
}

/* PROFILEに下線入れる */
.underline_double{
    text-decoration: underline #000000;
    text-underline-offset: 0.5ex;
}

.conC h2{
    /* 見出しと文章のデザインを指定する 68P */
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
}

.conC p{
    /* 見出しと文章のデザインを指定する 68P */
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.8;
    opacity: 0.8;
}

@media (min-width:768px){
.conC{
    /* <!-- 画像を横に並べる --> */
    .container{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    max-width: var(--large-width);
    margin-left: auto;
    margin-right: auto;
    height: 60vh;
    padding-top: 40px;
    padding-bottom: 10px;
}

    .container img{
    width: 550px;
    height: auto;
    }

    .text {
    font-size: 20px;
    padding-right: 500px;
    } 
}
}

/* コンテンツC:概要(アイコン+テキスト) */
.conD{
    /* ブロックに色を付ける 88P */
    background-color: #5D9AB2;
    
    .container{
            display: flex;
            justify-content: center;
            max-width: 1000px;
            max-width: var(--large-width);
            margin-left: auto;
            margin-right: auto;
            height: 60vh;

        }
        .card{
            width: 500px;
            height: 500px;
            border: 5px solid #DF6A7A;
        }

        .card:nth-child(2){
            margin-right: 200px;
            margin-left: 200px;
        }

        .picture img{
            width: 100%;
            height: 300px;
        }

        .description{
            width: 100%;
            height: 192px;
            padding-right: 12px;
            padding-left: 12px;
            box-sizing: border-box;
            font-size: 20px;
            background-color: #fff;
            padding-top: 5px;
        }

}

/* フッターの色を指定する 115P */
footer {
    color: #fff;
    color: var(--text-bright-color);
    background-color: #2B5566;
    background-color: var(--dark-color);
}

/* フッター内の余白サイズを指定する 115P */
footer .container{
    padding:  40px 20px;
}

/* 見出しに下線を付けたデザインにする 120P */
.footA {
    margin-bottom: 30px;
}

/* 見出しと段落のデザインを指定する 112P */
.footA h2{
    margin-top: 0;
    margin-bottom: 10px;
    font-family: "ロボト",sans-serif;
    font-size: 30px;
    letter-spacing: 0.2em;
}

.footA p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}

/* リンクのデザインを指定する 113P */
.footA a{
    color: inherit;
    text-decoration: none;
}

/* フッターメニューの上下の間隔ｗ調整する 126P */
.footB div {
    margin-bottom: 20px;
}

/* 見出しに下線を付けたデザインにする 120P */
.footB h3 {
    margin-top: 0;
    margin-bottom: 10px;
    border-bottom:  solid 1px currentColor;
    font-size: 14px;
}

/* メニューの項目のデザインを指定する 121P*/
.footB ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footB a {
    /* リンクを大きくする 123P */
    display: block;
    padding: 5px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width: 768p){
    .footB {
        display: flex;
    }

    .footB div {
        flex: 1;
    }
}